**/auth.json
**/configs.json
**/googleClientSecret.json

**/node_modules
**/*.exe
**/logs
**/*.db
**/_db
**/_configs/**/*
**/_private/**/*
**/_assets/*
**/_output/*
**/console.txt

!**/README.txt
!**/*.example
!**/*.README

**/_commands/~*

**/_startup/~*

**/VERSIONS/deprec/*

#sub-directories of the bot main directory of this repo, within _commands & _startup (excluding any prefixed with "__"), are the location of macros for personal use
#censored copies of those files can be provided for learning purposes by request