**/auth.json
**/configs.json
**/googleClientSecret.json
**/node_modules
**/*.exe
**/logs
**/*.db
**/_configs/**/*.json
**/_private/**/*.json
**/_private/**/*.txt
**/_db
**/_assets/*
**/_assets/READEME.txt

**/_commands/*
!**/_commands/*.js
!**/_commands/*.txt
!**/_commands/disabled

**/_startup/*
!**/_startup/*.js
!**/_startup/*.txt
!**/_startup/disabled